* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */

li {
  display: inline-block;
  list-style-type: none;
}

a {
  color: #abb2b5;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.color-azul {
  background-color: #8edafc;
}

.color-white {
  color: white;
}

.color-grey {
  background-color: #eaeaea;
}

.color-grey-text {
  color: #abb2b5;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: #d5f9ba;
}

.color-blue {
  background-color: blue;
}

.color-white {
  background-color: white;
}

/* Modalità laptop */
nav {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#laptop-screen {
  height: 100vh;
  width: 100%;
}

.container {
  height: 80%;
  width: 80%;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-col {
  /* debug */
  height: 100%;
  width: 33%;
}

.right-col {
  /* debug */
  height: 100%;
  width: 66%;
}

.left-col header {
  width: 100%;
  height: 10%;
}

.right-col header {
  /* debug */
  border: 1px solid black;
  width: 100%;
  height: 10%;
}

.Notify {
  height: 10%;
  width: 100%;
}

.search-bar {
  height: 5%;
  width: 100%;
}

.list-users {
}

.container-chat {
  background-image: url(../img/mine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 80%;
}

.container-chat div {
  width: 55%;
}

.container-chat div:first-child {
  align-self: flex-end;
}

.type-message {
  width: 100%;
  height: 10%;
}

/* responsive */

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100%;
  }
  .left-col {
    width: 15%;
  }

  .right-col {
    width: 90%;
  }

  .left-col nav {
    justify-content: center;
  }

  .left-col ul {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .left-col {
    width: 0;
  }

  .right-col {
    width: 100%;
  }
}
