* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */

img {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.color-white {
  color: white;
}

.color-grey {
  color: #abb2b5;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: green;
}

.color-blue {
  background-color: blue;
}

.color-white {
  background-color: white;
}

/* Modalità laptop */

#laptop-screen {
  height: 100vh;
  width: 100%;
}

.container {
  height: 80vh;
  width: 80%;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-col {
  /* debug */
  height: 100%;
  width: 33%;
}

.right-col {
  /* debug */
  height: 100%;
  width: 66%;
}

.left-col header {
  width: 100%;
  height: 10%;
  background-color: grey;
}

.right-col header {
  /* debug */
  border: 1px solid black;
  width: 100%;
  height: 10%;
  background-color: grey;
}

.Notify {
  height: 10%;
  width: 100%;
}

.search-bar {
  height: 5%;
  width: 100%;
}

.list-users {
}

.container-chat {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 80%;
}

.container-chat div {
  width: 55%;
}

.container-chat div:first-child {
  align-self: flex-end;
}

.type-message {
  width: 100%;
  height: 10%;
}
